In [15]:
state <- c('Alabama', 'Alaska', 'Arizona', 'Arkansas', 'Califormia', 'Colorado', 'Connecticut', 'Delaware')

In [14]:
population <- c(4779736, 710231, 6392017, 2915918, 37253956, 5029796, 3574097, 897934)

In [16]:
murder_rate <- c(5.7, 5.6, 4.7, 5.6, 4.4, 2.8, 2.4, 5.8 )

In [17]:
abbreviation <- c('AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE')

In [18]:
df <- data.frame(state, population, murder_rate, abbreviation)

In [19]:
df

  state       population murder_rate abbreviation
1 Alabama      4779736   5.7         AL
2 Alaska        710231   5.6         AK
3 Arizona      6392017   4.7         AZ
4 Arkansas     2915918   5.6         AR
5 Califormia  37253956   4.4         CA
6 Colorado     5029796   2.8         CO
7 Connecticut  3574097   2.4         CT
8 Delaware      897934   5.8         DE